{% extends "parent.html" %}

{% block content %}
<div align="center" style="padding:15px"><img src="https://www.eco-business.com/media/_versions/ebmedia/fileuploads/35187948663_b5fad89b4f_k_news_featured.jpg" class="img-fluid" style="border:black 2px solid;width:70%"><br>
	How much will you donate?
	<div class="form-group">
	  <input type="number" min="0.00" name="amount" class="form-control col-sm-5" id="amount" placeholder=100.00 step="0.01"><br>
	  <input type="submit" value="Donate" role="button" class="btn btn-outline-dark">
	</div>
</div>
{% endblock %}