{% extends "parent.html" %}

{% block content %}

<style>
    b {
        color: lightblue;
    }
</style>

{% for each in content%}
<b>Location:</b> {{each}}
<br>
<b>Magnitude:</b> {{content.get(each)}}
<br><br>

<div class="table-responsive">
    <table class="table table-hover text-center" width="100%">
      <thead>
        <tr class="bg-danger text-white">
            <th>Location</th>
            <th>Magnitude</th>
        </tr>
      </thead>
      <tbody>
        {% for each in order %}
        <tr>
            <th> {{ each }} </th>
            <td> {{content.get(each)}} </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
