{% extends "parent.html" %}

{% block content %}
<div style="background:#C5D9DE;padding:20px;border-radius:15px">
	<h2>UNICEF</h2>
	<img src="static/Unicef.png" class="img-fluid" width="50%"><br>
	<a href="https://www.unicef.org/">www.unicef.org</a><br>
	UNICEF works in over 190 countries and territories to protect the rights of every child, and has spent 70 years working to improve the lives of children and their families.<br>
</div>
<br>
<div style="background:#C5D9DE;padding:20px;border-radius:15px">
	<h2>Red Cross</h2>
	<img src="static/Red-Cross-Logo.jpg" class="img-fluid" width="50%"><br>
	<a href="https://www.redcross.org/">www.redcross.org</a><br>
	Red Cross volunteers and staff work to deliver vital services – from providing relief and support to those in crisis, to helping you be prepared to respond in emergencies.
</div>
{% endblock %}